.pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.topInputs {
    padding: 15px;
    margin-left: 30px;
    display: flex;
    input {
        width: 250px;
        margin-right: 20px;
    }
}

.tableInput {
    width: 60%;
    padding: 5px;
    margin: 10px;
    table {
        width: 100%
    }
}

.tablePreview {
    border: 1px solid #999;
    padding: 5px;
    margin: 10px;
    border-radius: 12px;
    background-color: #DDD;
    width: 40%;

    table {
        width: 100%
    }

    tr {
        min-width: 40%;
    }
}

.buttonsArea {
    display: flex;
    min-width: 100%;
    justify-content: center;
}

.buttonSend {
    background-color: #0089FF;
    border: 0;
    outline: 0;
    padding: 5px 10px;
    border-radius: 4px;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    margin: 40px;
                
    &:hover {
       background-color: #006FCE;
   }               
    

}

.errorMessage {
    margin: 10px 0;
    background-color: #FFCACA;
    color: #000;
    border: 2px solid #FF0000;
    padding: 10px
}

.successMessage {
    margin: 10px 0;
    background-color: #caffd9;
    color: #000;
    border: 2px solid #00ff22;
    padding: 10px;
    
}