.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    background-color: #EEE;
    margin: auto;

    .descSuplier {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 15px;

        .inputDesc {
            margin-right: 10px; 
            input {
                width: 70%
            }                          
        }

        .inputSuplier {
            margin-left: 10px;    
    
        }
    }    
}

.tableContainer {

    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #999;

    .FiltersBox{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;       
        margin: 12px 0;
        height: 30px;
        font-size: 12px;

        .filterCategory{
            margin-left: 10px;
            margin-right: 10px; 
            select {
                width: 90%;
                font-size: 10px;
            }   
        }
        .filterText {
            margin-left: 10px;
            input {
                width: 80%;
                font-size: 10px
            }
        }
    }

    .tableBox {
        display: flex;
        display: row;
        .tableInput {
            font-size: 12px;
            width: 250px;
            
            input {
                width: 90%;
                font-size: 12px;
            }

            .thProduct {
                width: 70px;
            }

            .thUnit {
                font-size: 9px;

            }

            .thQtd {
                font-size: 10px;

            }            

            td:first-child {
                background: green;
                width: 60%;
            }
            td:nth-child(2) {
                background: blue;
                width: 15%;                
                white-space: nowrap;
            }
            td:last-child {
                background: red;
                width: 25%;
            }



        }

    }



}




















.tableInput {
    width: 60%;
    padding: 5px;
    margin: 10px;
    table {
        width: 100%
    }
}

.tablePreview {
    border: 1px solid #999;
    padding: 5px;
    margin: 10px;
    border-radius: 12px;
    background-color: #DDD;
    width: 40%;

    table {
        width: 100%
    }

    tr {
        min-width: 40%;
    }
}

.buttonsArea {
    display: flex;
    min-width: 100%;
    justify-content: center;
}

.buttonSend {
    background-color: #0089FF;
    border: 0;
    outline: 0;
    padding: 5px 10px;
    border-radius: 4px;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    margin: 40px;
                
    &:hover {
       background-color: #006FCE;
   }               
    

}

.errorMessage {
    margin: 10px 0;
    background-color: #FFCACA;
    color: #000;
    border: 2px solid #FF0000;
    padding: 10px
}

.successMessage {
    margin: 10px 0;
    background-color: #caffd9;
    color: #000;
    border: 2px solid #00ff22;
    padding: 10px;
    
}

.image {    
    margin-right: 8px;
}