$menu-button: #FF8100;
$menu-button-hover: #E57706;
$action-button: #0089FF;
$action-button-hover: #006FCE;
$table-tr-color: #dad6d662;
$table-preview-color: #dddddd8d;
$card-color: #DDDD;
$card-hover: #AAAA;
$container-color: #EEE;
$error-border: #FF0000;
$error-color: #FFCACA;
$success-border: #00ff22;
$success-color: #caffd9;

