@import "../../styles/variables";
@import "../../styles/breakpoints";

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    background-color: #EEE;
    margin: 0 auto;  

    @media (min-width: $mobile) and (max-width: $mobile-xl) {
        width: $mobile;
        
    }

    @media (min-width: $mobile-xl) and (max-width: $desktop-sm) {
        width: $mobile-xl;
        
    }

    @media (min-width: $desktop-sm) and (max-width: $desktop-xl) {
        width: $desktop-sm
        
    }

    @media (min-width: $desktop-xl) {
        width: $desktop-xl;
        
    }
    

    .title {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px; 
        font-weight: 600;   
    }    
}

.tableContainer {

    display: flex;
    min-width: 85%;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #999;
    padding-bottom: 30px;
    margin-bottom: 40px;    
   
    .tableBox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 20px;
        
        
        .tableInput {
            font-size: 11px;
            width: 60%;
            padding: 5px;
            margin: 10px;  
            height: 5px;
                       
            td {
                height: 20px;
            }
            
            td:first-child {                
                width: 60%; 
                border-bottom-left-radius: 8px;  
                border-top-left-radius: 8px; 
                vertical-align: center;
                padding: 3px 7px;
            }            

            td:nth-child(2) {                
                width: 17%;                
                white-space: nowrap;
                text-align: center;
            }

            td:last-child {                
                width: 23%;
                text-align: center;
                border-bottom-right-radius: 8px;  
                border-top-right-radius: 8px; 
            }

            .divergentColor {            
                background-color: $table-tr-color;
                color: red;
            }
            .equalColor {
                background-color: $table-tr-color;
            }            
            .divergentWhite {                
                color: red;
            }
            .equalWhite{
                color: black;
            }
        }

        .tablePreview {
            border: 1px solid #aeabab;
            margin: 10px;
            padding: 2px 5px;
            border-radius: 12px;
            background-color: $table-preview-color;
            width: 45%;
            box-shadow: 0px 0px 20px #999;
            height: 10px;
            font-size: 9px;
            //display: block;}
            
            th {
                font-size: 10px;                
            }
          
            td:first-child {                
                width: 60%;                 
                               
            }            

            td:nth-child(2) {                
                width: 20%;                
                white-space: nowrap;
                text-align: center;
            }

            td:last-child {                
                width: 20%;
                text-align: center;
                
            }          
            
            td, tr {

                height: 19px;
                
            }        
            
        }
    }    

    @media (min-width: 600px) and (max-width: 750px) {
       .tableBox {
            .tableInput{
                width: 50%;
            }
       }
        
    }

    @media (min-width: 750px) and (max-width: 1000px) {                  

        .tableBox {
            .tableInput{
                font-size: 14px;
            }
            .tablePreview{
                th {
                    font-size: 13px;
                }
                font-size: 14px;
            }
            
        }       
    }

    @media (min-width: 1000px) {        

        .tableBox {
            .tableInput{
                font-size: 14px;
            }
            .tablePreview{
                th {
                    font-size: 13px;
                }
                font-size: 14px;
            }
            
        }      
    }
}

.buttonsArea {
    display: flex;
    margin-bottom: 20px;

    .buttonClose{
        background-color: $action-button;
        border: 0;
        outline: 0;
        padding: 9px 7px;
        border-radius: 4px;
        color: #FFF;
        font-size: 9px;
        cursor: pointer;
        margin: 12px;
        transition: all ease 0.3s;
        font-weight: 600;
        width: 75px;
                            
        &:hover {
           background-color: $action-button-hover;
       }  

        @media (min-width: 750px) and (max-width: 1000px) {
            font-size: 12px;
            width: 100px;     
        }    
        @media (min-width: 1000px) {        
            font-size: 12px;
            width: 100px;
        }
    
    }
   
}  


.errorMessage {
    margin: 10px 0;
    background-color: $error-color;
    color: #000;
    border: 2px solid $error-border;
    padding: 10px
}

.successMessage {
    margin: 10px 0;
    background-color: $success-color;
    color: #000;
    border: 2px solid $success-border;
    padding: 10px;
    
}
