@import "../../styles/variables";
@import "../../styles/breakpoints";

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $mobile-sm;
    background-color: #eee;
    margin: 0 auto;

    @media (min-width: $mobile) and (max-width: $mobile-xl) {
        width: $mobile;
    }

    @media (min-width: $mobile-xl) and (max-width: $desktop-sm) {
        width: $mobile-xl;
    }

    @media (min-width: $desktop-sm) and (max-width: $desktop-xl) {
        width: $desktop-sm;
    }

    @media (min-width: $desktop-xl) {
        width: $desktop-xl;
    }

    .topInputs {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 15px;
        margin-bottom: 15px;

        .inputArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            input {
                width: 85%;
                margin: 0 10px;
                font-size: 12px;
            }
        }
    }
}

.tableContainer {
    display: flex;
    max-width: 95%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #999;
    padding-bottom: 30px;
    margin-bottom: 60px;
    justify-content: center;

    .tableBox {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;

        .tableInput {
            font-size: 11px;
            width: 95%;
            padding: 5px;
            margin: 5px;
            height: 5px;

            input {
                width: 60%;
                min-width: 35px;
                font-size: 13px;
            }

            .thProduct {
                width: 100px;
                text-align: left;
                font-size: 11px;
            }

            .thUnit {
                text-align: center;
                font-size: 11px;
            }

            .thQtd {
                font-size: 11px;
            }

            td,
            tr {
                height: 50px;
            }

            td:first-child {
                width: 15%;
                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px;
                vertical-align: center;
            }

            td:nth-child(2) {
                width: 45%;
                text-align: left;
                font-weight: 550;
            }

            td:nth-child(3) {
                width: 17%;
                white-space: nowrap;
                text-align: center;
            }

            td:last-child {
                width: 23%;
                text-align: center;
                border-bottom-right-radius: 8px;
                border-top-right-radius: 8px;
            }

            .trColor {
                background-color: $table-tr-color;
            }
        }
    }

    .tableDivergence {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        .divergence {
            display: flex;
            align-items: center;
            width: 70%;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;

            button {
                background-color: $action-button;
                border: 0;
                outline: 0;
                padding: 5px 10px;
                border-radius: 4px;
                color: #fff;
                font-size: 13px;
                cursor: pointer;
                margin: 10px;
                transition: all ease 0.3s;

                &:hover {
                    background-color: $action-button-hover;
                }
            }
        }
    }

    @media (min-width: $mobile) and (max-width: $mobile-xl) {
        width: 410px;
    }

    @media (min-width: $mobile-xl) and (max-width: $desktop-sm) {
        width: 600px;
        .tableBox {
            width: 90%;
        }
    }

    @media (min-width: $desktop-sm) and (max-width: $desktop-xl) {
        min-width: 90%;
        .tableBox {
            width: 90%;
        }
    }

    @media (min-width: $desktop-xl) {
        min-width: 80%;
        .tableBox {
            min-width: 90%;
            .tableInput {
                font-size: 14px;

                input {
                    width: 35%;
                    font-size: 18px;
                }

                .thProduct {
                    font-size: 18px;
                }

                .thUnit {
                    font-size: 18px;
                }

                .thQtd {
                    font-size: 18px;
                }
            }
        }
    }
}

.image {
    border-radius: 7px;
    margin: 10px;
}

.buttonSend {
    background-color: $action-button;
    border: 0;
    outline: 0;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover {
        background-color: $action-button-hover;
    }
}

.errorMessage {
    margin: 10px 0;
    background-color: $error-color;
    color: #000;
    border: 2px solid $error-border;
    padding: 10px;
}

.successMessage {
    margin: 10px 0;
    background-color: $success-color;
    color: #000;
    border: 2px solid $success-border;
    padding: 10px;
}

.confirmClass {
    display: none;
}
